body{
    background: linear-gradient(to right, #bfe9ff, #fcb7bf);
}
.impNotes{
    color: deeppink;
    font-weight: bold;
}

hr{
    border: 0em solid black;
    box-shadow: 0,0,0,5px;
}

#sadImg , #happyImg{
    width: 200px;
    height: 200px;
}